.sec_1 {
     background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     .mainpage_1 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100vh;

          &_logo img {
             width: calc(1.1vw + 50.7px);
             animation-name: logo;
             animation-duration: 3s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
          }

          @keyframes logo {
               0% {
                    transform: scale(1); 
               }
               50% {
                    transform:  scale(1.2);
               }
               100% {
                    transform:  scale(1);
               }
          }

          .h1 {
               @include h1($white_color);
          }

          .h3 {
               @include h3($gray_color);
          }
     }
}