.mainpage_2 {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 80px 0px;

     .h1 {
          @include h1($darkGray_color);
     }

     .h3 {
          @include h3($textGray_color);
     }

     &_texts {
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;
          padding: 45px 0px;

          .p {
               @include text;
               width: 35%;
          }
     }

     .btn button {
        @include btn;
        transition: .3s;

        &:hover {
          transform:rotate3d(10deg);
          transform-origin: left;
        }

        &:active {
          transform: scale(.9);
        }
     }
}